<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Craft your shawarma</title>
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<form method="POST" th:action="@{/craft}" th:object="${ingredients}">
    <ul>
        <li th:each="i : ${ingredients}">
            <span th:text="${i.name}">ingredient name</span></li>
    </ul>
    <button type="submit" class="btn btn-success">Finish</button>
</form>



<footer th:insert="~{blocks/footer :: footer}"></footer>
</body>
</html>